@charset "utf-8";
/* CSS Document */
.Utility {
		color: #ccc;
}	
.NodeName {
	font-weight:bold;
	/* color: #800080; */
    color: #eee;
}
.AttributeName 
{
	font-weight:bold;
    color: #ccc;
}
.AttributeValue
{
    color: #ccc;
}
.NodeValue
{
    color: #eee;
}
.Element {
	border-left-color:#aaa;
	border-left-width:thin;
	border-left-style:solid;
	padding-top:0px;
	margin-top:10px;
}
.Clickable {	
	font-weight:900;
	font-size:large;
	color: #eee;	
	cursor:pointer;

	vertical-align:-1px;
    margin-right: 2px;
}

#XMLHolder {
    background:#707b8c;
    width: 800px;
}
