body {font-family:Helvetica,'Helvetica Neue',Arial,sans-serif;color:#1b1d20;font-size:14px;background:#576172 url(/pubsub/media/images/bg-tile.png)}

h1,h2,h3,h4 {font-family:'Helvetica Neue',Helvetica,Arial,sans-serif}
h1 {font-size:3em;color:#eee;text-shadow:0px 1px 0px #000;font-weight:bold}
h2 {font-size:1.7em;color:#eee;text-shadow:0px 1px 1px #1b2434}

a:link, a:visited {color:#bac1cc;outline:none}
a:hover {color:#eee}

.round5 {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}

/* Header */
#header {background:url(/pubsub/media/images/bg-header.png);padding:5px 10px}

/* Navigation */
#navigation {overflow:hidden;clear:both;padding:5px 10px;margin-bottom:10px}
#navigation ul {float:left}
#navigation ul li {float:left;margin-right:10px}
#navigation ul li a:link, #navigation ul li a:visited {text-decoration:none}

/* Content*/
#content {margin:5px 10px}

/* Tables */
table {margin:5px 0;color:#eee;width:600px}
th,td {padding:5px 10px;border-bottom:1px solid #606b7b}
tr {background:#707b8c}
tr.odd {background:#6c7687}
tr:hover {background:#687282}
th {font-weight:bold;color:#4D5660;font-size:1.1em;border-bottom:2px solid #606b7b}
