{% extends "base_generic.html" %}

{% load pagination_tags %}
{% load sorting_tags %}

{% block content %}
<h2>Entities</h2>

{% for k, v in filters.items %}
<h3>{{ k }}: {{ v }}</h3>
{% endfor %}

{% autosort entities %}
{% autopaginate entities %}

<table>
	<tr>
		<th>{% anchor jid Entity %}</th>
		<th>{% anchor subscriptions_count Subscriptions %}</th>
		<th>{% anchor affiliations_count Affiliations %}</th>
	</tr>

{% for e in entities  %}
	{% url pubsub.views.entities.details e.entity_id as ent_url %}
	{% url pubsub.views.subscriptions.index as subs_url %}
	{% url pubsub.views.affiliations.index as affs_url %}

	<tr class="{% cycle 'odd' 'even' %}">
		<td>
			<a href="{{ ent_url }}">{{ e.jid }}</a>
		</td>
		<td>
			{% if e.subscriptions_count > 0 %}
			<a href="{{ subs_url }}?entity={{ e.entity_id }}">{{ e.subscriptions_count }}</a>
			{% else %}
			0
			{% endif %}
		</td>
		<td>
			{% if e.affiliations_count > 0 %}
			<a href="{{ affs_url }}?entity={{ e.entity_id }}">{{ e.affiliations_count }}</a>
			{% else %}
			0
			{% endif %}
		</td>
	</tr>
{% endfor %}

</table>


{% paginate %}

{% endblock %}


