{% extends "base_generic.html" %}

{% block content %}
<h2>Affiliations</h2>


<table>
	<tr>
		<th>Entity</th>
		<th>Node</th>
		<th>Affiliation</th>
	</tr>

{% for a in paginator.object_list  %}
	{% url pubsub.views.entities.details a.entity.entity_id as entity_url %}
	{% url pubsub.views.nodes.details a.node.node_id as node_url %}
	
	<tr>
		<td><a href="{{ entity_url }}">{{ a.entity.jid }}</a></td>
		<td><a href="{{ node_url }}">{{ a.node.name }}</a></td>
		<td>{{ a.affiliation }}</td>
	</tr>
{% endfor %}

</table>


{% include "paginator_footer.html"%}

{% endblock %}


