{% extends "base_generic.html" %}

{% block content %}
<h2>Item</h2>

{% if item %}

<table>
    <tr>
        <td>ID</td>
        <td>{{ item.item_id }}</td>
    </tr>

    <tr class="even">
        <td>Node</td>
        <td>{{ item.node }}</td>
    </tr>

    <tr>
        <td>Publisher</td>
        <td>{{ item.publisher }}</td>
    </tr>

    <tr class="even">
        <td>Date Published</td>
        <td>{{ item.date }}</td>
    </tr>
</table>

<h3>Item Data</h3>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/XMLDisplay.css">
<script type="text/javascript" src="{{ MEDIA_URL }}js/XMLDisplay.js"></script>
<div id="XMLHolder">
	
{% autoescape off %}
<script>LoadXMLString('XMLHolder', "{{ xml_data }}")</script>
{% endautoescape %}

</div>



{% else %}
	<p>Item not found.</p>
{% endif %}

{% endblock %}
