{% extends "base_generic.html" %}

{% block content %}
<h2>Item</h2>

{% if item %}

<dl>
	<dt>ID</dt>
		<dd>{{ item.item_id }}</dd>

	<dt>Node</dt>
		<dd>{{ item.node }}</dd>
		
	<dt>Publisher</dt>
		<dd>{{ item.publisher }}</dd>
		
	<dt>Date Published</dt>
		<dd>{{ item.date }}</dd>
</dl>

<h4>Item Data</h4>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/XMLDisplay.css">
<script type="text/javascript" src="{{ MEDIA_URL }}js/XMLDisplay.js"></script>
<div id="XMLHolder">
	
{% autoescape off %}
<script>LoadXMLString('XMLHolder', '{{ xml_data }}')</script>
{% endautoescape %}

</div>



{% else %}
	<p>Item not found.</p>
{% endif %}

{% endblock %}