<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>{% block title %}Idavoll WebInterface{% endblock %}</title>
   <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css">
   <link rel="stylesheet" href="{{ MEDIA_URL }}css/basic.css">
</head>

<body>
 <div id="container">
   <div id="header">
	  <h1>Idavoll Web Interface</h1>
   </div>
   
   <div id="navigation">
	  {% block sidebar %}
	  <ul>
		 <li><a href="{% url pubsub.views.generic.index %}">Home</a></li>
		 <li><a href="{% url pubsub.views.nodes.index %}">Nodes</a></li>
		 <li><a href="{% url pubsub.views.items.index %}">Items</a></li>
		 <li><a href="{% url pubsub.views.entities.index %}">Entities</a></li>
		 <li><a href="{% url pubsub.views.subscriptions.index %}">Subscriptions</a></li>
		 <li><a href="{% url pubsub.views.affiliations.index %}">Affiliations</a></li>
	  </ul>
	  {% endblock %}
   </div>
  
   <div id="content">
   {% block content %}{% endblock %}
   </div>

  </div>
	<div id="footer">
		<p>(c) 2011 <a href="http://github.com/nfvs">Nuno Santos</a></p>
		<p>Design by <a href="http://github.com/rikas">Ricardo Otero</a></p>
	</div>
</body>
</html>
